<div class="page-header">
  <h2>User Details</h2>
</div>

<div class="panel panel-primary">
  <div class="panel-body">
    <h5>First Name : {{model.firstName}}</h5>
    <h5>Last Name: {{model.lastName}}</h5>
    <h5>Email: {{model.email}}</h5>
    <h5>Phone: {{model.phone}}</h5>
    <h5>Role: {{model.role}}</h5>
    <hr>

    {{#link-to 'users.edit' model class='btn btn-primary btn-sm'}}Edit{{/link-to}}
    {{#link-to 'users' class='btn btn-primary btn-sm'}}Go Back{{/link-to}}
  </div>

</div>
